// Base
.effect-01 {
	&:hover {
		box-shadow: $box-shadow;
	}
}

.effect-title {
	transition: $transition-base;
}


// Theming
@each $color, $value in $colors {
	.effect-#{$color} {
		&:hover {
			.effect-title {
				color: $jetbooking;
			}
		}
	}
}

//Listing Grid Effect Underline
.effect-underline {
	a:hover {
		text-decoration: underline;
	}
}

// Layouts
@import 'effect-fade';
@import 'effect-shadow';