// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// single post

$gutter: $grid-gutter-width;

@mixin single-container {
	margin-left: auto;
	margin-right: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	
	@media (min-width: 940px) {
		max-width: 800px;
	}
	
	@include media-breakpoint-down(xs){
		padding-left:  ($gutter / 4);
		padding-right: ($gutter / 4);
	}
	
}

@mixin sub-heading() {
	color: $color__heading;
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
}

// Mixin buttons
@mixin btn {
	background-color: $color__accent;
	background-clip: padding-box;
	letter-spacing: 0;
	font-size: 16px;
	line-height: 26px;
	//line-height: 1.65em;
	font-weight: 700;
	text-align: center;
	text-transform: inherit;
	border-radius: $border__radius;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: $button__indents-sm;
	color: $color__invert;
	transition: $animation-transition;
	text-decoration: none;
	box-shadow: 0 10px 10px rgba(22, 43, 64, 0.12);
	&:hover {
		//transition: $animation-transition-hover;
		background-color: $btn_hover-color;
		box-shadow: none;
	}
	//&:visited, &:focus, &:active {
	//	color: $color__invert;
	//}
}