// List collapse
.list-collapse {
  li + li {
    margin-top: 4px;
  }
  a {
    color: $gray-700;
    &:hover, &.active {
      color: $jetpopup;
      background-color: rgba($jetpopup, .2);
    }
  }
}

// Table of Contents

.table-of-contents-wrapper {
  .simpletoc-title {
    font-size: $h5-font-size;
    line-height: $line-height-lg;
    color: $gray-900;
    margin: 0;
    padding: 16px 20px;
    background-color: $gray-100;
  }
  .simpletoc-list {
    max-height: 296px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  ol {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    li > ol {
      margin: 0;
      padding: 0;
    }
  }
  li {
    padding: 0 0 0 32px;
    position: relative;
    > ol {
      li {
        padding: 0 0 0 40px;
        > ol {
          li {
            padding: 0 0 0 54px;
          }
        }
      }
    }
    a {
      position: relative;
      display: flex;
      padding: 8px 0;
      transition: $transition-base;
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: -83%;
        width: 200%;
        height: 100%;
        background-color: $gray-100;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease;
      }
    }
    a:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }
      color: $gray-500;
    }
  }
  li::before {
    display: inline-block;
    position: absolute;
    left: 0;
    font-weight: 700;
  }

  /* 1 */
  ol {
    counter-reset: num;
  }
  ol > li {
    counter-increment: num;
  }
  ol > li::before {
    content: counter(num) '.';
    padding: 8px 0;
  }

  /* 2 */
  ol ol {
    counter-reset: num2;
    margin: 0;
  }
  ol ol > li {
    counter-increment: num2;
  }
  ol ol > li::before {
    content: counter(num) '.' counter(num2) '.';
  }

  /* 3 */
  ol ol ol {
    counter-reset: num3;
  }
  ol ol ol > li {
    counter-increment: num3;
  }
  ol ol ol > li::before {
    content: counter(num) '.' counter(num2) '.' counter(num3);
  }
}