// Base
.card-plugin-mini {
	width: 176px;
	height: 70px;
	border-radius: $border-radius;
	font-size: 13px;
	line-height: 1.31;
	color: $gray-900;
	background: $primary;
	box-shadow: 0 4px 30px rgba( $primary, 0.5 );
	transition: .4s ease-in-out;

	&:hover {
		.card-plugin-mini-image {
			transform: translateX( 1em );
			transition-delay: 0s;
			visibility: hidden;
			opacity: 0;
		}

		.card-plugin-mini-overlay {
			transform: none;
			transition-delay: .2s;
			visibility: visible;
			opacity: 1;
		}
	}
}

.card-plugin-mini-image {
	transition: .2s ease .2s;
}

.card-plugin-mini-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-plugin-mini-overlay {
	position: absolute;
	display: inline-flex;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	font-size: $btn-font-size-sm;
	line-height: $btn-line-height-sm;
	color: $white;
	white-space: nowrap;
	transform: translateX( -1em );
	transition: .2s ease 0s;
	visibility: hidden;
	opacity: 0;

	&::after {
		content: '';
		display: inline-flex;
		width: 24px;
		height: 24px;
		margin-left: 0.3em;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99997 6L8.58997 7.41L13.17 12L8.58997 16.59L9.99997 18L16 12L9.99997 6Z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
	}
}


// Theming
@each $color, $value, $hover in $colors {
	.card-plugin-mini-#{$color} {
		box-shadow: 0 4px 30px rgba($value, 0.5);
		background-color: $value;

		&:hover {
			background-color: $hover;
		}
	}
}