// Base
.box-flip {
	position: relative;
	perspective: 1000px;

	[data-elementor-device-mode="desktop"] &:hover,
	&.active {
		.box-flip-content {
			transform: rotateY(180deg);
		}
	}
}

.box-flip-content {
	transform-style: preserve-3d;
	transition: all .5s ease;
}

.box-flip-front-side {
	position: relative;
	backface-visibility: hidden;
	z-index: 1;
}

.box-flip-back-side {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	transform: scale(-1, 1);
	display: flex;
	align-items: center;
	justify-content: center;
}
