// Base
.img-responsive,
img {
	display: inline-block;
	//vertical-align: middle;
	height: auto;
	max-width: 100%;
}

.img-cover {
	object-fit: cover;
}

.sl-image img {
	filter: contrast(1);
}

// Layouts
@import 'image-tooltip';