.kb-share {
  padding: 16px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 4px 28px rgba(148, 163, 184, 0.3);

  .kb-share-item + .kb-share-item {
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
  }
  a {
    svg path {
      fill: $gray-300;
      transition: $btn-transition;
    }
    &.facebook:hover {
      svg path {
        fill: $facebook;
      }
    }
    &.twitter:hover {
      svg path {
        fill: $twitter;
      }
    }
    &.linkedin:hover {
      svg path {
        fill: $linkedin;
      }
    }
    &.pinterest:hover {
      svg path {
        fill: $pinterest;
      }
    }
  }
}

@media (min-width: 1400px) {

}