// Base
.link {
	&.link-custom {
		padding: 0;
		text-decoration: $link-decoration;
		color: $link-color;
		cursor: pointer;

		&:hover {
			color: $link-color;
			text-decoration: $link-hover-decoration;
		}
	}

	&.link-inherit {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			text-decoration: $link-decoration;
		}
	}
}