*,
*::before,
*::after {
	box-sizing: border-box; // 1
}

*:focus,
button:focus {
	outline: none;
}

p {
	margin: 0;
}

p.elementor-heading-title {
	line-height: inherit;
}

button {
	border: none;
	color: inherit;
	background-color: transparent;
}