// Base
.text-font-base {
	font-family: $font-family-base;
}

.text-font-sec {
	font-family: $font-family-sec;
}

.text-custom-font-base {
	.jet-listing-dynamic-field__content {
		font-family: $font-family-base;
	}
}

.text-custom-font-sec {
	.jet-listing-dynamic-field__content {
		font-family: $font-family-sec;
	}
}

.text-size-null {
	font-size: 0;
	line-height: 0;
}

.text-body-style {
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-size: inherit;
	letter-spacing: 0;
	color: inherit;
}

.text-middle { vertical-align: middle; }

.text-transform-none { text-transform: none; }
.text-transform-custom-none a { text-transform: none; }
.text-through { text-decoration: line-through; }

// Text color
.text-white {
	color: $white !important;

	&.elementor-widget-heading .elementor-heading-title {
		color: $white;
	}
}

.text-primary {
	color: $primary !important;

	&.elementor-widget-heading .elementor-heading-title {
		color: $primary;
	}
}


// Theming
@each $color, $value in $grays {
	.text-#{$color} {
		color: $value !important;

		&.elementor-widget-heading .elementor-heading-title {
			color: $value;
		}
	}
}

@each $color, $value in $colors {
	.text-#{$color} {
		color: $value !important;

		&.elementor-widget-heading .elementor-heading-title {
			color: $value;
		}
	}
}


.font-weight-normal {
	&.elementor-widget-heading .elementor-heading-title {
		font-weight: $font-weight-normal;
	}
}

.font-weight-bold {
	&.elementor-widget-heading .elementor-heading-title {
		font-weight: $font-weight-bold;
	}
}


// Contexts
.context-dark {
	.text-body-style {
		color: inherit;
	}
}
