body {
	font-family: $font-family-base;
	line-height: $line-height-base;
	font-weight: $font-weight-normal;
	font-size: $font-size-base;
	color: $body-color;
	background-color: $body-bg;
}

.site {
	overflow-x: hidden;
}


#{headings()} {
	margin: 0;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	letter-spacing: 0;
	color: $headings-color;
}

h1, .h1, h1, .h1 .jet-listing-dynamic-field__content {
	font-size: $h1-font-size - 12;
	letter-spacing: -0.01em;

	@include media-breakpoint-up(md) {
		font-size: $h1-font-size - 4;
	}

	@include media-breakpoint-up(xl) {
		font-size: $h1-font-size;
	}
}

h2, .h2, h2, .h2 .jet-listing-dynamic-field__content {
	font-size: $h2-font-size - 8;
	
	@include media-breakpoint-up(md) {
		font-size: $h2-font-size - 4;
	}
	
	@include media-breakpoint-up(xl) {
		font-size: $h2-font-size;
	}
}

h3, .h3, h3, .h3.jet-listing-dynamic-field__content {
	font-size: $h3-font-size;
}

h4, .h4, h4, .h4 .jet-listing-dynamic-field__content {
	font-size: $h4-font-size !important;
	line-height: 1.3 !important;
}

h5, .h5, h5, .h5 .jet-listing-dynamic-field__content {
	font-size: $h5-font-size!important;
	line-height: 1.4!important;
}

h6, .h6, h6, .h6 .jet-listing-dynamic-field__content {
	font-size: $h6-font-size;
	line-height: 1.4;
}

.heading-large {
	font-size: 80px;
	line-height: 1;
	letter-spacing: -0.01em;

	@include media-breakpoint-up(md) {
		font-size: 120px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 166px;
	}
}


// Text
.large {
	font-size: $font-size-lg;
	line-height: $line-height-lg;
}

.large .jet-listing-dynamic-field__content {
	font-size: $font-size-lg;
	line-height: $line-height-lg;
}

.small {
	font-size: $font-size-sm;
	line-height: $line-height-sm;
}

.smaller {
	font-size: $font-size-xs;
	line-height: $line-height-xs;
}

.body {
	font-size: $font-size-base;
	line-height: $line-height-base;
}


// Link
a {
	color: $link-color;
	transition: $link-transition;

	&:hover {
		color: $link-hover-color;
	}
}


// Contexts
.context-dark {
	color: $gray-400;

	#{headings()} {
		color: $white;
	}
}