@import "articles";
@import "troubleshoot";
@import "tips-and-tricks";
@import "features";

$gap: 24px;
$gap-lg: 40px;

body.single:not(.single-jetplugins) {
  .jet-theme-core-location--single-location {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    img:not(.gitlab-logo) {
      margin: 0  0 $gap 0;
    }

    h2 {
      font-size: $h3-font-size;
    }
    h3 {
      font-size: $h4-font-size;
    }
    h2,h3,h4 {
      margin: $gap-lg 0;
    }
    code {
      border: none;
    }
    p {
      margin-bottom: $gap;
    }
    .wp-block-group {
      margin-bottom: $gap-lg;
      .wp-block-group__inner-container {
        img:last-child, p:last-child, .gitlab-embed-snippets:last-child {
          margin-bottom: 0;
        }
      }
    }
    .gitlab-embed-snippets, .note-banner,
    .gist .gist-file {
      margin: 0 0 $gap 0;
    }
  }

  .jet-listing-dynamic-field__content {
    counter-reset: num;
    h2 {
      counter-increment: num;
      &:before {
        content: counter(num) ". ";
      }
    }

    .wp-block-group {
      counter-reset: num2;
      h3 {
        counter-increment: num2;
        &:before {
          content: counter(num) "." counter(num2) ". ";
        }
      }
    }
  }
}