.requirements-block {
  .jet-listing-dynamic-repeater__items {
    flex-direction: column;

    .jet-listing-dynamic-repeater__item {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 42px;
        height: 42px;
        background-size: cover;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' rx='24' fill='%230DC167'/%3E%3Cpath d='M21 28.17L16.83 24L15.41 25.41L21 31L33 19L31.59 17.59L21 28.17Z' fill='white'/%3E%3C/svg%3E");
      }
    }
  }
}

.description-box {
  font-family: $font-family-sec;
  width: 76%;
  font-size: 24px;
  line-height: 36px;
}