.question-box {
  svg {
    min-width: 60px;
    min-height: 60px;
  }
  p {
    width: 77%;
    border-radius: $border-radius-lg;
    border-top-left-radius: $border-radius;
  }
}

.mod-data {
  color: $gray-400;
}