.jet-filters-pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  .jet-filters-pagination__item {
    margin: 0 8px 0 0;
    .jet-filters-pagination__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: $gray-700;
      padding: 0;
      border-radius: 50%;
      transition: $btn-transition;
    }
    .jet-filters-pagination__dots {
      width: 20px;
      padding-left: 4px;
      color: $gray-400;
    }
    &.prev-next svg path {
      transition: $btn-transition;
    }

    &:hover {
      .jet-filters-pagination__link {
        color: $primary;
        background-color: $gray-100;
      }

      &.prev-next svg path {
        fill: $primary;
      }
    }

    &.jet-filters-pagination__current {
      .jet-filters-pagination__link {
        color: $white;
        background-color: $primary;
      }
    }
  }
}