.plugins-list {
  .jet-container {
    padding: initial;
    overflow: visible;
  }
  .logo {
    min-height: 72px;
    min-width: 112px;
  }
  .jet-listing-dynamic-field {
    display: block;
    &__inline-wrap {
      display: block;
    }
  }
}